<div class="bg-white border-end p-3" style="width: 240px;">
  <h5 class="mb-4">Git Panel</h5>
  <ul class="nav flex-column">
    <li class="nav-item mb-2">
      <%= link_to "History", project_git_path(@project), class: sidebar_link_class('show') %>
    </li>
    <li class="nav-item mb-2">
      <%= link_to "Branches", project_git_branches_path(@project), class: sidebar_link_class('branches') %>
    </li>
    <li class="nav-item mb-2">
      <%= link_to "Commits", project_git_branch_commits_path(@project, id: current_branch_id), class: sidebar_link_class('commits') %>
    </li>
  </ul>
</div>
